@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 62.5%;
}
.game-container{
  width: 50vw;
  margin: auto;
  height: 100vh;
  background-color: rgb(197, 210, 14);
  }
/* Start of header section styling */
.header-section-container{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1rem;
text-wrap: wrap;
}
@media screen and (max-width: 950px) {
.header-text{
  font-size: 1.3rem;
  text-wrap: nowrap;
}
.header-section-container{
  display: flex;
  flex-direction: row;
justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  }
}
@media screen and (max-width: 950px) {
  .header-text{
    font-size: 2.5vw;
    text-wrap: nowrap;
  }
}
/* End of header section styling */
/* .computer-choice{
}
.computer-choice-icon-container{
    margin-left: auto;
    margin-right: auto;
 border: 2px dashed black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-divider{
  position: absolute;
  top: 43%;
  transform: translate(0, -50%);
  padding: 10px;
  width: 50vw;
  background-color: rgb(109, 90, 7);
}
.user-choice{
padding-top: 11vh;
height: 46vh;
}
.user-choice-icon{
  margin-left: auto;
  margin-right: auto;
border: 2px dashed black;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ovearall-selection-cards{
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.selection-card{
  width: 100px;
  height: 110px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */